.title {
    font-size: 22px;
    font-weight: bolder;
    color: black;
}

.date {
    font-size: 18px;
    color: grey;
    margin-left: 10px;
}

.box {
    margin-left: 10px;
    margin-right: 10px;
}

.row-operation {
    margin-top: 10px;
}

.orderList {
    font-weight: bolder;
}

.row-orders {
    margin-top: 10px;
}

.filter {
    margin-top: 10px;
}

.icon-edit {
    font-size: 20px;
    color: green;
    margin-top: 5px;
}

.items {
    padding-right: 10px;
}

.summary {
    padding-left: 10px;
}

.category {
    font-size: 24px;
    font-weight: bold;
    color: dimgray;
}

.item-name {
    margin-top: 5px;
    font-size: 18px;
}

.item-amount {
    margin-top: 5px;
    font-size: 18px;
    text-align: right;
}

.status {
    margin-bottom: 10px;
    margin-left: 10px;
}
